/* table page */

table {
  table-layout: fixed;
}

td {
  word-wrap: break-word;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

#add {
  width: 4rem;
  padding: 0.45rem;
  border: transparent;
  border-radius: 4px;
  color: whitesmoke;
  transition: 0.2s linear;
  cursor: pointer;
  background-color: #5f261f;
}

#add:hover {
  background-color: rgb(170, 87, 76);
}

.btn {
  width: 2.5rem;
}

#add-new,
#cancel {
  width: 4rem;
  padding: 0.5rem;
  border: transparent;
  border-radius: 4px;
  color: whitesmoke;
  transition: 0.2s linear;
  cursor: pointer;
  margin: 0.25rem 0;
}

#view,
#update,
#delete {
  width: 2rem;
  padding: 0.25rem 0 0.25rem 0;
  border: transparent;
  border-radius: 4px;
  color:whitesmoke;
  transition: 0.2s linear;
  cursor: pointer;
  margin: 0.25rem 0;
}

svg {
  vertical-align: middle;
}

#view,
#add-new {
  background-color: rgb(0, 184, 0);
}

#view:hover,
#add-new:hover {
  background-color: rgb(0, 217, 0);
  color: black;
}

#update {
  background-color: darkcyan;
}

#update:hover {
  background-color: rgb(0, 194, 194);
  color: black;
}

#delete {
  background-color: rgb(122, 0, 0);
  margin-right: 1.25rem;
}

#delete:hover {
  background-color: rgb(255, 0, 0);
  color: black;
}

/* form */

#add-form {
  display: flex;
  flex-direction: column;
  width: 40rem;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin: 0.25rem 0;
}

label,
input {
  font-size: 1.15rem;
}

input {
  padding: 0.25rem;
}

#cancel {
  color: rgb(200, 0, 0);
  background-color: transparent;
  font-size: 0.9rem;
}

#cancel:hover {
  color: rgb(233, 0, 0);
}

textarea {
  resize: none;
  height: 10rem;
  font-size: 1.15rem;
  width: 60vw;
}

#small-icon img {
  object-fit: cover;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

/* search */

input {
  margin: 0.5rem 0.5rem 0.5rem 0;
}

#search {
  width: 2.5rem;
  padding: 0.45rem 0;
  border: transparent;
  border-radius: 4px;
  color: whitesmoke;
  transition: 0.2s linear;
  cursor: pointer;
  background-color: #1f525f;
  margin-right: 0.5rem;
}

#search:hover {
  background-color: #2f8ba1;
}

#top-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
}

#top-form div {
  display: flex;
  align-items: center;
}
