body {
  background-image: linear-gradient(180deg,
      rgb(180, 104, 94),
      rgb(235, 170, 161));
}

#booking-section {
  height: 80vh;
  width: 70vw;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: whitesmoke;
  border-radius: 1rem;
  padding: 2rem 1rem;
  box-shadow: 0 0 15px;
  align-items: center;
}

#upper-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#clnt-bookings {
  height: 27.5rem;
}

#view-booking {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 50vw;
}

#view-booking h1 {
  font-size: 2.25rem;
}

#view-booking p {
  font-size: 0.9rem;
}

h1 {
  margin: 1rem auto;
  text-align: center;
  background-color: black;
  font-size: 3.5rem;
  color: transparent;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.form-comp {
  display: flex;
  flex-direction: column;
}

#add-booking-section {
  width: 36rem;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 1rem;
  padding: 2rem 1rem;
  box-shadow: 0 0 15px;
  align-items: center;
}

#lower-add {
  width: 24rem;
}

.label {
  font-weight: bold;
}

input,
label,
option,
select,
textarea {
  font-size: 1.25rem;
  padding: 0.25rem;
  font-family: "Fira Sans", sans-serif;
}

.supp-grp {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

#supp-checklist {
  border: solid 1px;
  height: 4rem;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0.25rem 1rem;
  margin: 0.2rem;
}

.send-btn {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  background-color: rgb(0, 90, 0);
  color: whitesmoke;
  border: transparent;
  border-radius: 8px;
  transition: 0.2s linear;
  font-family: "Fira Sans", sans-serif;
  width: 80vw;
  text-align: center;
  display: block;
  cursor: pointer;
  margin: 1rem auto !important;
  background-color: rgb(95, 38, 31) !important;
  font-size: 1.5rem !important;
  font-weight: bold;
}

.send-btn:hover {
  background-color: rgb(170, 87, 76) !important;
  cursor: pointer !important;
}


#add-booking-section button {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  background-color: rgb(0, 90, 0);
  color: whitesmoke;
  border: transparent;
  border-radius: 8px;
  transition: 0.2s linear;
  font-family: "Fira Sans", sans-serif;
  width: 5rem;
  text-align: center;
  margin: 1rem 0;
  cursor: pointer;
}

#add-booking-section button:hover {
  background-color: rgb(1, 163, 1);
}

.bk-btn {
  width: 100% !important;
  margin: 1rem 0 0 0 !important;
  background-color: rgb(95, 38, 31) !important;
  font-size: 1.5rem !important;
  font-weight: bold;
}

.bk-btn:hover {
  background-color: rgb(170, 87, 76) !important;
  cursor: pointer !important;
}

.cancel-btn {
  width: 36rem !important;
  background-color: transparent !important;
  color: rgb(122, 0, 0) !important;
  border: solid 2px rgb(122, 0, 0) !important;
}

.cancel-btn:hover {
  background-color: rgb(122, 0, 0) !important;
  color: white !important;
}

#add-booking-section a {
  margin: 0 1rem;
  color: rgb(122, 0, 0);
}

#add-booking-section a:hover {
  color: red;
}

/* pagination */

.pagination {
  margin-left: -2.5rem;
  display: flex;
  justify-content: center;
}

.pagination ul {
  list-style: none;
  display: flex;
}

.pagination li {
  padding: 1rem;
}

.pagination a {
  text-decoration: none;
  padding: 0.5rem;
  color: whitesmoke;
  border-radius: 6px;
}

.pagination a:nth-child(1) {
  background-color: rgb(88, 61, 42);
}

/* status text */

.status {
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 0.25rem 1rem;
  border-radius: 8px;
  color: white;
  vertical-align: middle;
  width: 6rem;
  text-align: center;
}

.pending {
  background-color: blue;
}

.scheduled {
  background-color: darkorange;
}

.finished {
  background-color: green;
}

.cancelled {
  background-color: maroon;
}

/* svg */

svg {
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: middle;
  margin: auto;
}

/* others */

button span {
  vertical-align: middle;
}

#update {
  background-color: green;
  color: whitesmoke;
  border: transparent;
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  transition: 0.2s linear;
}

#update:hover {
  background-color: lawngreen;
  color: black;
  cursor: pointer;
}

#remark {
  height: 8rem;
}


#supp-btn a {
  vertical-align: middle !important;
  text-anchor: middle !important;
}

#venue-btn:hover,
#supp-btn:hover {
  cursor: pointer;
}

/* modal for custom venue */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 1rem;
  border: 1px solid #888;
  width: 20rem;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.vc {
  background-color: transparent !important;
  color: red !important;
  width: 14rem !important;
}

.vc:hover {
  color: maroon !important;
}

/* Table */

table {
  overflow-y: scroll;
  width: 80vw;
  border-collapse: collapse;
  font-size: 1rem;
  text-align: left;
  box-shadow: 0 0 10px rgb(215, 215, 215);
  margin: 1.85rem auto 1rem auto;
  height: 57.5vh;
  overflow-y: scroll;
  display: block;
}

th {
  background-color: burlywood;
  color: white;
  text-align: left;
}

tr,
td,
th {
  word-wrap: break-word;
  padding: 0.5rem;
}

tr:nth-child(odd) {
  background-color: rgb(209, 209, 209);
}

tr:nth-child(even) {
  background-color: whitesmoke;
}

textarea {
  resize: none;
  height: 10vh;

}

.inbox-textarea {
  display: block;
  resize: none;
  height: 10vh;
  margin: 1rem auto;
  width: 80vw;
}