/* package intro */

#package-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

#package-intro img {
  width: 60vw;
  height: 12rem;
  object-fit: cover;
}

#package-intro h1 {
  position: absolute;
  font-size: 10rem;
  color: whitesmoke;
  text-shadow: 0 0 5px black;
  opacity: 0.9;
}

/* package info */

#package-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(170, 87, 76);
  padding: 1rem;
  box-shadow: 0 0 18px gray;
  color: whitesmoke;
  text-shadow: 0 0 5px gray;
}

#package-info p {
  text-align: center;
  width: 40rem;
  font-size: 1.25rem;
  color: rgb(216, 216, 216);
}

/* service class */

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem auto 2rem auto;
}

.service h1 {
  background-color: black;
  font-size: 3.5rem;
  color: transparent;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.package-card,
.venue-card,
.supp-card {
  padding: 0.5rem;
  margin: 1rem;
  width: 35vw;
  height: 20rem;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s linear;
  box-shadow: 0 0 25px gray;
  border-radius: 0.5rem;
}

.package-card h2,
.package-card p,
.venue-card h2,
.venue-card p,
.supp-card h2,
.supp-card p {
  color: whitesmoke;
  text-shadow: 0 0 5px black;
  background-color: rgb(95, 38, 31, 0.25);
}

.venue-card h2,
.supp-card h2 {
  font-size: 2rem;
}

.venue-card:hover,
.package-card:hover,
.supp-card:hover {
  transform: scale(1.02);
}

.price {
  font-size: 1.25rem;
}

@media (max-width: 72rem) {
  #package-intro h1 {
    font-size: 8rem;
  }
  .desc {
    font-size: 0.9rem;
  }
}

@media (max-width: 52rem) {
  .desc {
    display: none;
  }
}
